<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="lt.vu.usecases.mybatis.model.Phone" alias="Phone"/>
        <typeAlias type="lt.vu.usecases.mybatis.model.Shop" alias="Shop"/>
        <typeAlias type="lt.vu.usecases.mybatis.model.Manufacturer" alias="Manufacturer"/>
        <typeAlias type="lt.vu.usecases.mybatis.model.PhoneShop" alias="PhoneShop"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="openejb:Resource/PhonesDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/xml/PhoneMapper.xml"/>
        <mapper resource="mybatis/xml/ShopMapper.xml"/>
        <mapper resource="mybatis/xml/PhoneShopMapper.xml"/>
        <mapper resource="mybatis/xml/ManufacturerMapper.xml"/>
    </mappers>
</configuration>